.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-link {
  color: #61dafb;
}

.App-row {
  display: flex;
  justify-content: space-between;
  &__label {
    font-size: 20px;
  }
}

.phoneContainer {
  background-color: white;
  border-radius: 40px;
  padding: 30px;
  height: 667px;
  width: 375px;
}

.input {
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  font-size: 14px;
  line-height: 1.5;
  padding: 4px 11px;
}
